## Web Scraping LinkedIn using Selenium

In [1]:
from selenium import webdriver
import time
import pandas as pd
import time

In [2]:
#Url from LinkedIn, Look for Data Analyst job in Jakarta Area
url = "https://id.linkedin.com/jobs/search?keywords=Data%20Analyst&location=Area%20DKI%20Jakarta&geoId=90010101&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"

In [3]:
# url = "https://id.linkedin.com/jobs/data-analyst-jobs?position=1&pageNum=0"

In [4]:
import requests
from bs4 import BeautifulSoup

In [5]:
#Import Packages

from selenium.webdriver.support.select import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC

In [6]:
from selenium.webdriver.common.by import By

In [7]:
from lxml import html

In [8]:
#Run the driver and open the url
driver = webdriver.Chrome()
driver.get(url)
time.sleep(5)

In [9]:
# Find the element that contains the class name
results_header = driver.find_element(By.CLASS_NAME, "results-context-header")

# Find the element with the specific class name within the results header
n = results_header.find_element(By.CLASS_NAME, "results-context-header__job-count").text

In [10]:
# Convert the string to an integer
n = int(n.replace(".",""))

In [11]:
n

1000

In [12]:
#Scroll through page to load all the job postings
i = 2
# while i <= n/25:
while i <= 100:
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(5)
    i += 1
    
    #click on load more button to load all the job postings
    try:
        load_more_button = driver.find_element(By.XPATH, '//button[@aria-label="Lihat pekerjaan lainnya"]')
        load_more_button.click()
        time.sleep(3)
    except:
        pass
        time.sleep(3)

In [13]:
jobpost_id = []
job_title = []
company_name = []
location = []
posted_date = []

job_description = []
def transform():
    global n
    
    for i in range(200):
        try:
            #Extract job title from the element
            job = driver.find_elements(By.CLASS_NAME, "base-search-card__title")[i].text
            job_title.append(job)    
            #Extract company name from the element
            company = driver.find_elements(By.CLASS_NAME, "base-search-card__subtitle")[i].text
            company_name.append(company)
            #Extract location from the element
            loc = driver.find_elements(By.CLASS_NAME, "job-search-card__location")[i].text
            location.append(loc)
            #Extract datetime from the element
            date = driver.find_elements(By.CLASS_NAME, "job-search-card__listdate")[i].get_attribute("datetime")
            posted_date.append(date)
            # id = driver.find_elements(By.PARTIAL_LINK_TEXT, "base-card")[i].get_attribute("data-id")
            # id = driver.find_elements(By.CLASS_NAME, "base-card relative")[i].get_attribute("data-entity-urn")
            # id = driver.find_elements(By.TAG_NAME, "a")[i].get_attribute("href")
            id = driver.find_elements(By.CLASS_NAME, "base-card__full-link")[i].get_attribute("href")
            jobpost_id.append(id)
        except IndexError:
            job_title.append(None)
            company_name.append(None)
            location.append(None)
            posted_date.append(None)
            print("DONE")
    return 
    # return job_title, company_name, location, job_description

In [14]:
transform()

In [15]:
#join job_title, company_name, location, posted_date into a dataframe
df = pd.DataFrame(list(zip(job_title, company_name, location, posted_date, jobpost_id)), 
               columns =['Job Title', 'Company Name', 'Location', 'Posted Date', 'Job Link'])

In [16]:
df

,Job Title,Company Name,Location,Posted Date,Job Link
0,Data Analyst - Central Data Platform,Gojek,Jakarta,2023-09-12,https://id.linkedin.com/jobs/view/data-analyst...
1,Data Analyst,Gojek,Jakarta,2023-09-19,https://id.linkedin.com/jobs/view/data-analyst...
2,Data Analyst - Subscription,Gojek,Jakarta,2023-09-19,https://id.linkedin.com/jobs/view/data-analyst...
3,Data Analyst - Transport (Jakarta),Gojek,Jakarta,2023-09-13,https://id.linkedin.com/jobs/view/data-analyst...
4,Data Analyst - Campaign Management,Gojek,Jakarta,2023-09-26,https://id.linkedin.com/jobs/view/data-analyst...
...,...,...,...,...,...
195,IT Engineer,Michelin,Bekasi,2023-06-22,https://id.linkedin.com/jobs/view/data-enginee...
196,System Integrator,Mekari,Jakarta,2023-09-13,https://id.linkedin.com/jobs/view/ms-engineer-...
197,Security Engineer,Packet Systems Indonesia,Jakarta,2023-09-28,https://id.linkedin.com/jobs/view/security-eng...
198,Cloud Data Engineer,ilmuOne Data,Area DKI Jakarta,2023-08-09,https://id.linkedin.com/jobs/view/powerbuilder...
199,MS Engineer,NTT Ltd.,Jakarta,2023-09-23,https://id.linkedin.com/jobs/view/crm-internsh...

In [17]:
df.to_csv('linkedin_jobpost.csv', index=True)

In [18]:
df['Company Name'].value_counts().head(10)

Company Name
Gojek                                 13
Traveloka                             11
Michael Page                          10
PT Bank Mayapada Internasional Tbk     6
NTT Ltd.                               6
byOrange                               5
Staffinc Group                         4
VLink Inc                              3
JULO                                   3
Shopee                                 3
Name: count, dtype: int64

In [19]:
len(df)

200

In [23]:
driver.quit()

In [20]:
# jd = []
# seniority = []
# emp_type = []
# job_func = []
# industries = []


# job_level = []
# job_type = []
# job_function = []
# industry = []
# job_description = []



# for item in range(1,len(df)):
#     job_func0=[]
#     industries0=[]
#     # clicking job to view job details
#     job_click_path = f'//*[@id="main-content"]/section[2]/ul/li[{item}]/div/a'
#     # job_click = driver.find_element_by_xpath(job_click_path).click()
#     job_click = driver.find_element(By.XPATH, job_click_path).click()
#     time.sleep(8)

    
#     try:
#         #Extract job level from the element
#         info_element_list = driver.find_elements(By.CLASS_NAME, "description__job-criteria-item")
#         for i in range(len(info_element_list)):
#             job_level.append(info_element_list[0].text)
#             job_type.append(info_element_list[1].text)
#             job_function.append(info_element_list[2].text)
#             industry.append(info_element_list[3].text)
#         #Extract job description from the element
#         jd_path = '/html/body/div[1]/div/section/div[2]/div/section[1]/div/div/section/div'
#         jd0 = driver.find_element(By.XPATH, jd_path).get_attribute('innerText')
#         jd.append(jd0)
        
            
#     # seniority_path = '/html/body/main/section/div[2]/section[2]/ul/li[1]/span'
#     # seniority0 = driver.find_element(By.XPATH, seniority_path).get_attribute('innerText')
#     # seniority.append(seniority0)

#     # emp_type_path = '/html/body/main/section/div[2]/section[2]/ul/li[2]/span'
#     # emp_type0 = driver.find_element_by_xpath(emp_type_path).get_attribute('innerText')
#     # emp_type.append(emp_type0)

#     # job_func_path = '/html/body/main/section/div[2]/section[2]/ul/li[3]/span'
#     # job_func_elements = driver.find_elements_by_xpath(job_func_path)

#     # for element in job_func_elements:
#     #     job_func0.append(element.get_attribute('innerText'))
#     # job_func_final = ', '.join(job_func0)
#     # job_func.append(job_func_final)
    
#     # industries_path = '/html/body/main/section/div[2]/section[2]/ul/li[4]/span'
#     # industries_elements = driver.find_elements_by_xpath(industries_path)

#     # for element in industries_elements:
#     #     industries0.append(element.get_attribute('innerText'))
        
#     # industries_final = ', '.join(industries0)
#     # industries.append(industries_final)
#     except :
#         job_level.append(None)
#         job_type.append(None)
#         job_function.append(None)
#         industry.append(None)
#         print("DONE")

In [21]:
# //*[@id="main-content"]/section[2]/ul/li[24]/div/a

In [22]:
# //*[@id="main-content"]/section[2]/ul/li[26]/div/a