## Web Scraping LinkedIn using Selenium

In [1]:
!pip3 install selenium

Requirement already satisfied: selenium in /Users/Dwika/My Projects/.venv/lib/python3.11/site-packages (4.13.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /Users/Dwika/My Projects/.venv/lib/python3.11/site-packages (from selenium) (2.0.4)
Requirement already satisfied: trio~=0.17 in /Users/Dwika/My Projects/.venv/lib/python3.11/site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in /Users/Dwika/My Projects/.venv/lib/python3.11/site-packages (from selenium) (0.10.4)
Requirement already satisfied: certifi>=2021.10.8 in /Users/Dwika/My Projects/.venv/lib/python3.11/site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in /Users/Dwika/My Projects/.venv/lib/python3.11/site-packages (from trio~=0.17->selenium) (23.1.0)
Requirement already satisfied: sortedcontainers in /Users/Dwika/My Projects/.venv/lib/python3.11/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /Users/Dwika/My Projects/.venv/lib/python3.11/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in /Users/Dwika/My Projects/.venv/lib/python3.11/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in /Users/Dwika/My Projects/.venv/lib/python3.11/site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup in /Users/Dwika/My Projects/.venv/lib/python3.11/site-packages (from trio-websocket~=0.9->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in /Users/Dwika/My Projects/.venv/lib/python3.11/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /Users/Dwika/My Projects/.venv/lib/python3.11/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/Dwika/My Projects/.venv/lib/python3.11/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

[notice] A new release of pip is available: 23.2 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

In [2]:
from selenium import webdriver
import time
import pandas as pd
import time

In [3]:
#Url from LinkedIn, Look for Data Analyst job in Jakarta Area
url = "https://id.linkedin.com/jobs/search?keywords=Data%20Analyst&location=Area%20DKI%20Jakarta&geoId=90010101&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"

In [4]:
# url = "https://id.linkedin.com/jobs/data-analyst-jobs?position=1&pageNum=0"

In [5]:
import requests
from bs4 import BeautifulSoup

In [6]:
#Import Packages

from selenium.webdriver.support.select import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC

In [7]:
from selenium.webdriver.common.by import By

In [8]:
from lxml import html

In [9]:
#Run the driver and open the url
driver = webdriver.Chrome()
driver.get(url)
time.sleep(5)

In [10]:
# Find the element that contains the class name
results_header = driver.find_element(By.CLASS_NAME, "results-context-header")

# Find the element with the specific class name within the results header
n = results_header.find_element(By.CLASS_NAME, "results-context-header__job-count").text

In [11]:
# Convert the string to an integer
n = int(n.replace(".",""))

In [12]:
n

1000

In [13]:
#Scroll through page to load all the job postings
i = 2
# while i <= n/25:
while i <= 5:
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(5)
    i += 1
    
    #click on load more button to load all the job postings
    try:
        load_more_button = driver.find_element(By.XPATH, '//button[@aria-label="Lihat pekerjaan lainnya"]')
        load_more_button.click()
        time.sleep(3)
    except:
        pass
        time.sleep(3)

In [14]:
jobpost_id = []
job_title = []
company_name = []
location = []
posted_date = []

job_description = []
def transform():
    global n
    
    for i in range(100):
        try:
            #Extract job title from the element
            job = driver.find_elements(By.CLASS_NAME, "base-search-card__title")[i].text
            job_title.append(job)    
            #Extract company name from the element
            company = driver.find_elements(By.CLASS_NAME, "base-search-card__subtitle")[i].text
            company_name.append(company)
            #Extract location from the element
            loc = driver.find_elements(By.CLASS_NAME, "job-search-card__location")[i].text
            location.append(loc)
            #Extract datetime from the element
            date = driver.find_elements(By.CLASS_NAME, "job-search-card__listdate")[i].get_attribute("datetime")
            posted_date.append(date)
            # id = driver.find_elements(By.PARTIAL_LINK_TEXT, "base-card")[i].get_attribute("data-id")
            # id = driver.find_elements(By.CLASS_NAME, "base-card relative")[i].get_attribute("data-entity-urn")
            # id = driver.find_elements(By.TAG_NAME, "a")[i].get_attribute("href")
            id = driver.find_elements(By.CLASS_NAME, "base-card__full-link")[i].get_attribute("href")
            jobpost_id.append(id)
        except IndexError:
            job_title.append(None)
            company_name.append(None)
            location.append(None)
            posted_date.append(None)
            print("DONE")
    return job_title, company_name, location, posted_date
    # return job_title, company_name, location, job_description

In [15]:
transform()

DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE
DONE

(['Data Analyst - Central Data Platform',
  'Data Analyst',
  'Data Analyst - Subscription',
  'Data Analyst - Transport (Jakarta)',
  'Data Analyst - Campaign Management',
  'Data Analyst - Rewards',
  'Data Analyst',
  'Data Analytics Associate',
  'BI Analyst (SQL)',
  'Data Analyst',
  'Data Analyst',
  'Data Engineer',
  'Data Analyst',
  'Data Analyst Risk',
  'Junior Data Analyst',
  'Business Intelligence',
  'Business MIS Analyst',
  'Data Analyst',
  'Business Intelligence & Analytics Intern - Business Intelligence & Data Analytics, SeaBank',
  'Data Analyst',
  'Data Analyst - Mobility',
  'Data Analyst',
  'Sales Data Analyst',
  'Data Analyst Lead',
  'Data Analyst (Python Sql & R)',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None],
 ['Gojek',
  'Gojek',
  'Gojek',
  'Gojek',
  'Gojek',
  'Gojek',
  'Stockbit',
  'Gravel',
  'Atome',
  'AgriAku',
  'Traveloka',
  'PT Lion Super Indo',
  'Kelola Talenta Global',
  'Kredivo Group',
  'JULO',
  'Moladin',
  'PT. Mandala Multifinance Tbk',
  'FIT HUB',
  'SeaBank Indonesia',
  'Staffinc Group',
  'Gojek',
  'Cetta Online Class',
  'SKINTIFIC',
  'Gojek',
  'PT Shell Infotek Indonesia',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None],
 ['Jakarta',
  'Jakarta',
  'Jakarta',
  'Jakarta',
  'Jakarta',
  'Jakarta',
  'Area DKI Jakarta',
  'Area DKI Jakarta',
  'Jakarta',
  'Jakarta',
  'Area DKI Jakarta',
  'Jakarta Raya, Indonesia',
  'Area DKI Jakarta',
  'Jakarta Raya, Indonesia',
  'Area DKI Jakarta',
  'Kota Jakarta Selatan',
  'Jakarta Raya, Indonesia',
  'Jakarta',
  'Jakarta',
  'Jakarta',
  'Jakarta',
  'Jakarta',
  'Jakarta',
  'Jakarta',
  'Jakarta',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None],
 ['2023-09-12',
  '2023-09-19',
  '2023-09-19',
  '2023-09-13',
  '2023-09-26',
  '2023-09-22',
  '2023-09-05',
  '2023-09-18',
  '2023-09-27',
  '2023-09-29',
  '2023-08-11',
  '2023-09-21',
  '2023-09-29',
  '2023-09-19',
  '2023-09-05',
  '2023-09-07',
  '2023-09-14',
  '2023-09-06',
  '2023-09-27',
  '2023-06-08',
  '2023-09-15',
  '2023-09-26',
  '2023-09-23',
  '2023-09-28',
  '2023-08-30',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None])

In [16]:
#join job_title, company_name, location, posted_date into a dataframe
df = pd.DataFrame(list(zip(job_title, company_name, location, posted_date, jobpost_id)), 
               columns =['Job Title', 'Company Name', 'Location', 'Posted Date', 'Job Link'])

In [17]:
df

,Job Title,Company Name,Location,Posted Date,Job Link
0,Data Analyst - Central Data Platform,Gojek,Jakarta,2023-09-12,https://id.linkedin.com/jobs/view/data-analyst...
1,Data Analyst,Gojek,Jakarta,2023-09-19,https://id.linkedin.com/jobs/view/data-analyst...
2,Data Analyst - Subscription,Gojek,Jakarta,2023-09-19,https://id.linkedin.com/jobs/view/data-analyst...
3,Data Analyst - Transport (Jakarta),Gojek,Jakarta,2023-09-13,https://id.linkedin.com/jobs/view/data-analyst...
4,Data Analyst - Campaign Management,Gojek,Jakarta,2023-09-26,https://id.linkedin.com/jobs/view/data-analyst...
5,Data Analyst - Rewards,Gojek,Jakarta,2023-09-22,https://id.linkedin.com/jobs/view/data-analyst...
6,Data Analyst,Stockbit,Area DKI Jakarta,2023-09-05,https://id.linkedin.com/jobs/view/data-analyst...
7,Data Analytics Associate,Gravel,Area DKI Jakarta,2023-09-18,https://id.linkedin.com/jobs/view/data-analyti...
8,BI Analyst (SQL),Atome,Jakarta,2023-09-27,https://id.linkedin.com/jobs/view/bi-analyst-s...
9,Data Analyst,AgriAku,Jakarta,2023-09-29,https://id.linkedin.com/jobs/view/data-analyst...
10,Data Analyst,Traveloka,Area DKI Jakarta,2023-08-11,https://id.linkedin.com/jobs/view/data-analyst...
11,Data Engineer,PT Lion Super Indo,"Jakarta Raya, Indonesia",2023-09-21,https://id.linkedin.com/jobs/view/data-enginee...
12,Data Analyst,Kelola Talenta Global,Area DKI Jakarta,2023-09-29,https://id.linkedin.com/jobs/view/data-analyst...
13,Data Analyst Risk,Kredivo Group,"Jakarta Raya, Indonesia",2023-09-19,https://id.linkedin.com/jobs/view/data-analyst...
14,Junior Data Analyst,JULO,Area DKI Jakarta,2023-09-05,https://id.linkedin.com/jobs/view/junior-data-...
15,Business Intelligence,Moladin,Kota Jakarta Selatan,2023-09-07,https://id.linkedin.com/jobs/view/business-int...
16,Business MIS Analyst,PT. Mandala Multifinance Tbk,"Jakarta Raya, Indonesia",2023-09-14,https://id.linkedin.com/jobs/view/business-mis...
17,Data Analyst,FIT HUB,Jakarta,2023-09-06,https://id.linkedin.com/jobs/view/data-analyst...
18,Business Intelligence & Analytics Intern - Bus...,SeaBank Indonesia,Jakarta,2023-09-27,https://id.linkedin.com/jobs/view/business-int...
19,Data Analyst,Staffinc Group,Jakarta,2023-06-08,https://id.linkedin.com/jobs/view/data-analyst...
20,Data Analyst - Mobility,Gojek,Jakarta,2023-09-15,https://id.linkedin.com/jobs/view/data-analyst...
21,Data Analyst,Cetta Online Class,Jakarta,2023-09-26,https://id.linkedin.com/jobs/view/data-analyst...
22,Sales Data Analyst,SKINTIFIC,Jakarta,2023-09-23,https://id.linkedin.com/jobs/view/sales-data-a...
23,Data Analyst Lead,Gojek,Jakarta,2023-09-28,https://id.linkedin.com/jobs/view/data-analyst...

In [18]:
df.to_csv('linkedin_jobpost.csv', index=True)

In [19]:
df['Company Name'].value_counts().head(10)

Company Name
Gojek                           8
JULO                            1
Cetta Online Class              1
Staffinc Group                  1
SeaBank Indonesia               1
FIT HUB                         1
PT. Mandala Multifinance Tbk    1
Moladin                         1
Kredivo Group                   1
Stockbit                        1
Name: count, dtype: int64

In [20]:
len(df)

24

In [21]:
jd = []
seniority = []
emp_type = []
job_func = []
industries = []

for item in range(len(df)):
    job_func0=[]
    industries0=[]
    # clicking job to view job details
    job_click_path = f'/html/body/main/div/section[2]/ul/li[{item+1}]/img'
    job_click = driver.find_element_by_xpath(job_click_path).click()
    job_click = driver. (job_click_path).click()
    time.sleep(5)

    jd_path = '/html/body/main/section/div[2]/section[2]/div'
    jd0 = driver.find_element_by_xpath(jd_path).get_attribute('innerText')
    jd.append(jd0)

    seniority_path = '/html/body/main/section/div[2]/section[2]/ul/li[1]/span'
    seniority0 = driver.find_element_by_xpath(seniority_path).get_attribute('innerText')
    seniority.append(seniority0)

    emp_type_path = '/html/body/main/section/div[2]/section[2]/ul/li[2]/span'
    emp_type0 = driver.find_element_by_xpath(emp_type_path).get_attribute('innerText')
    emp_type.append(emp_type0)

    job_func_path = '/html/body/main/section/div[2]/section[2]/ul/li[3]/span'
    job_func_elements = driver.find_elements_by_xpath(job_func_path)

    for element in job_func_elements:
        job_func0.append(element.get_attribute('innerText'))
    job_func_final = ', '.join(job_func0)
    job_func.append(job_func_final)
    
    industries_path = '/html/body/main/section/div[2]/section[2]/ul/li[4]/span'
    industries_elements = driver.find_elements_by_xpath(industries_path)

    for element in industries_elements:
        industries0.append(element.get_attribute('innerText'))
        
    industries_final = ', '.join(industries0)
    industries.append(industries_final)

AttributeError: 'WebDriver' object has no attribute 'find_element_by_xpath'