Overview 

1. [Import Libraries](#Import-Libraries)
2. [Extracting Job Details](#2-Extracting-Job-Details)

TO DO LIST:
- [x] Add a function to extract the job details from the job description
- [x] Add function to scroll through links
- [x] Add function to extract the job info (fulltime, parttime, etc.)
- [x] Add function to extract the job title
- [x] Add function to extract the job location
- [ ] Add function to extract the job description
- [x] COmbine data with existing job post list

# 1. Import Libraries & Load Target URL for Scraping

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import regex as re

In [2]:
from selenium import webdriver
import time
import pandas as pd
import time

In [27]:
#Import Packages

from selenium.webdriver.support.select import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC

In [4]:
#Load url list  
url_list = pd.read_csv('linkedin_jobpost.csv')
url_list = url_list['Job Link'].tolist()

In [5]:
# url = "https://id.linkedin.com/jobs/view/data-engineer-at-pt-bank-keb-hana-indonesia-3695203516?refId=Zfw%2B6s%2FJqzuF6SAFNxQ4bw%3D%3D&trackingId=%2FBat64lKEABB1r6lnynvJw%3D%3D&position=25&pageNum=1&trk=public_jobs_jserp-result_search-card"
url = "https://id.linkedin.com/jobs/data-analyst-jobs?position=1&pageNum=0"
# req = requests.get(url)
# soup = BeautifulSoup(req.text, "html.parser")

In [6]:
#Run the driver and open the url
driver = webdriver.Chrome()
driver.get(url)
time.sleep(5)

In [7]:
desc_info  = []

desc = driver.find_elements(By.CLASS_NAME, "description__text description__text--rich")
desc_info.append(desc)

In [8]:
# all_li = driver.find_elements(By.CSS_SELECTOR, "li")
# jobinfo = ""

# for li in all_li:
#     text = li.text
#     jobinfo = jobinfo + text + "\n"
#     print (text)

# 2. Extracting Job Details

In [9]:
# jobinfo.strip()

In [25]:

# jobpost_id = []

company_list = []
job_list = []
location_list = []

job_level = []
job_type = []
job_function = []
industry = []
job_description = []

def transform():
    global n
    
    for job_url in url_list:
        driver.get(job_url)
        time.sleep(5)
        try:
            #Extract Job info from title using regex
            company_name = re.findall(r'(.*) membuka lowongan', driver.title)
            company_list.append(company_name)
            job_name = re.findall(r' lowongan (.*) di', driver.title)
            job_list.append(job_name)
            location = re.findall(r' di (.*) \|', driver.title)
            location_list.append(location)

                        
            
            #Extract job level from the element
            info_element_list = driver.find_elements(By.CLASS_NAME, "description__job-criteria-item")
            for i in range(len(info_element_list)):
                job_level.append(info_element_list[0].text.replace("Tingkat senioritas\n", ""))
                job_type.append(info_element_list[1].text.replace("Jenis pekerjaan\n", ""))
                job_function.append(info_element_list[2].text.replace("Fungsi pekerjaan\n", ""))
                industry.append(info_element_list[3].text.replace("Industri\n", ""))
            
            jd_path = '//*[@id="main-content"]/section[1]/div/div/section[1]/div/div/section/div'
            jd0 = driver.find_element(By.XPATH, jd_path).get_attribute('innerText')
            job_description.append(jd0)
                
            # all_li = driver.find_elements(By.CSS_SELECTOR, "li")
            # jobinfo = ""

            # for li in all_li:
            #     text = li.text
            #     jobinfo = jobinfo + text + "\n"
            #     print (text)
            # job_description.append(jobinfo.strip())
            # # level = driver.find_elements(By.CLASS_NAME, "description__job-criteria-text description__job-criteria-text--criteria").text
            # # job_level.append(level)    
            # #Extract company name from the element
        except IndexError:
            job_level.append(None)
            print("DONE")
        except NoSuchElementException:
            jd0 = None
            print("DONE")
    # return company_list, job_list, location_list, job_level, job_type, job_function, industry, job_description
    # return job_title, company_name, location, job_description

In [28]:
transform()

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=117.0.5938.132)
Stacktrace:
0   chromedriver                        0x0000000104d9ed98 chromedriver + 4337048
1   chromedriver                        0x0000000104d96e14 chromedriver + 4304404
2   chromedriver                        0x00000001049c3a5c chromedriver + 293468
3   chromedriver                        0x000000010499c6c0 chromedriver + 132800
4   chromedriver                        0x0000000104a3004c chromedriver + 737356
5   chromedriver                        0x0000000104a43198 chromedriver + 815512
6   chromedriver                        0x00000001049fca5c chromedriver + 526940
7   chromedriver                        0x00000001049fd908 chromedriver + 530696
8   chromedriver                        0x0000000104d64de4 chromedriver + 4099556
9   chromedriver                        0x0000000104d692a0 chromedriver + 4117152
10  chromedriver                        0x0000000104d6f52c chromedriver + 4142380
11  chromedriver                        0x0000000104d69da0 chromedriver + 4119968
12  chromedriver                        0x0000000104d41a74 chromedriver + 3955316
13  chromedriver                        0x0000000104d86a48 chromedriver + 4237896
14  chromedriver                        0x0000000104d86bc4 chromedriver + 4238276
15  chromedriver                        0x0000000104d96a8c chromedriver + 4303500
16  libsystem_pthread.dylib             0x00000001a5a37fa8 _pthread_start + 148
17  libsystem_pthread.dylib             0x00000001a5a32da0 thread_start + 8

In [12]:
len(job_description)

144

In [ ]:
# driver.find_elements(By.CLASS_NAME, "description__text description__text--rich")

In [15]:
#create dataframe from the list
df = pd.DataFrame(list(zip( job_level, job_type, job_function, industry, job_description)), columns = ['Job Level', 'Job Type', 'Job Function', 'Industry', 'Job Description'])

,Job Level,Job Type,Job Function,Industry,Job Description
0,Tingkat pemula,Penuh waktu,Teknologi Informasi,"Teknologi, Informasi, dan Internet",About The Role\n\nThe role is Associate Data A...
1,Tingkat pemula,Penuh waktu,Teknologi Informasi,"Teknologi, Informasi, dan Internet","About The Role\n\nAs our Data Analyst, you’ll ..."
2,Tingkat pemula,Penuh waktu,Teknologi Informasi,"Teknologi, Informasi, dan Internet",The role is Associate Data Analyst (DA) workin...
3,Tingkat pemula,Penuh waktu,Teknologi Informasi,"Teknologi, Informasi, dan Internet","If you’re a data analyst at heart, this role i..."
4,Tingkat pemula,Penuh waktu,Teknologi Informasi,"Teknologi, Informasi, dan Internet",The Shared Consumer Platform team at GoTo is i...

In [16]:
df.head()

,Job Level,Job Type,Job Function,Industry,Job Description
0,Tingkat pemula,Penuh waktu,Teknologi Informasi,"Teknologi, Informasi, dan Internet",About The Role\n\nThe role is Associate Data A...
1,Tingkat pemula,Penuh waktu,Teknologi Informasi,"Teknologi, Informasi, dan Internet","About The Role\n\nAs our Data Analyst, you’ll ..."
2,Tingkat pemula,Penuh waktu,Teknologi Informasi,"Teknologi, Informasi, dan Internet",The role is Associate Data Analyst (DA) workin...
3,Tingkat pemula,Penuh waktu,Teknologi Informasi,"Teknologi, Informasi, dan Internet","If you’re a data analyst at heart, this role i..."
4,Tingkat pemula,Penuh waktu,Teknologi Informasi,"Teknologi, Informasi, dan Internet",The Shared Consumer Platform team at GoTo is i...

# 3. Combine with existing job post list

In [17]:
#Import job list
dfList = pd.read_csv('linkedin_jobpost.csv')
dfList.head()

,Unnamed: 0,Job Title,Company Name,Location,Posted Date,Job Link
0,0,Data Analyst - Central Data Platform,Gojek,Jakarta,2023-09-12,https://id.linkedin.com/jobs/view/data-analyst...
1,1,Data Analyst,Gojek,Jakarta,2023-09-19,https://id.linkedin.com/jobs/view/data-analyst...
2,2,Data Analyst - Subscription,Gojek,Jakarta,2023-09-19,https://id.linkedin.com/jobs/view/data-analyst...
3,3,Data Analyst - Transport (Jakarta),Gojek,Jakarta,2023-09-13,https://id.linkedin.com/jobs/view/data-analyst...
4,4,Data Analyst - Campaign Management,Gojek,Jakarta,2023-09-26,https://id.linkedin.com/jobs/view/data-analyst...

In [18]:
#merge the dataframe df with dfList
df = pd.concat([dfList, df], axis=1)
df.head()

,Unnamed: 0,Job Title,Company Name,Location,Posted Date,Job Link,Job Level,Job Type,Job Function,Industry,Job Description
0,0,Data Analyst - Central Data Platform,Gojek,Jakarta,2023-09-12,https://id.linkedin.com/jobs/view/data-analyst...,Tingkat pemula,Penuh waktu,Teknologi Informasi,"Teknologi, Informasi, dan Internet",About The Role\n\nThe role is Associate Data A...
1,1,Data Analyst,Gojek,Jakarta,2023-09-19,https://id.linkedin.com/jobs/view/data-analyst...,Tingkat pemula,Penuh waktu,Teknologi Informasi,"Teknologi, Informasi, dan Internet","About The Role\n\nAs our Data Analyst, you’ll ..."
2,2,Data Analyst - Subscription,Gojek,Jakarta,2023-09-19,https://id.linkedin.com/jobs/view/data-analyst...,Tingkat pemula,Penuh waktu,Teknologi Informasi,"Teknologi, Informasi, dan Internet",The role is Associate Data Analyst (DA) workin...
3,3,Data Analyst - Transport (Jakarta),Gojek,Jakarta,2023-09-13,https://id.linkedin.com/jobs/view/data-analyst...,Tingkat pemula,Penuh waktu,Teknologi Informasi,"Teknologi, Informasi, dan Internet","If you’re a data analyst at heart, this role i..."
4,4,Data Analyst - Campaign Management,Gojek,Jakarta,2023-09-26,https://id.linkedin.com/jobs/view/data-analyst...,Tingkat pemula,Penuh waktu,Teknologi Informasi,"Teknologi, Informasi, dan Internet",The Shared Consumer Platform team at GoTo is i...

In [19]:
df.iloc[12]

Unnamed: 0                                                        12
Job Title                                               Data Analyst
Company Name                                   Kelola Talenta Global
Location                                            Area DKI Jakarta
Posted Date                                               2023-09-29
Job Link           https://id.linkedin.com/jobs/view/data-analyst...
Job Level                                             Tingkat pemula
Job Type                                                 Penuh waktu
Job Function                                     Teknologi Informasi
Industry                          Teknologi, Informasi, dan Internet
Job Description    Our Client is looking for a Data Analyst to jo...
Name: 12, dtype: object

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       200 non-null    int64
 1   Job Title        200 non-null    object
 2   Company Name     200 non-null    object
 3   Location         200 non-null    object
 4   Posted Date      200 non-null    object
 5   Job Link         200 non-null    object
 6   Job Level        143 non-null    object
 7   Job Type         144 non-null    object
 8   Job Function     144 non-null    object
 9   Industry         144 non-null    object
 10  Job Description  144 non-null    object
dtypes: int64(1), object(10)
memory usage: 17.3+ KB

In [ ]:


#Extract job title and company name using regex
# exclude " membuka lowongan" 
# company_name = re.findall(r'(.*) membuka lowongan', driver.title)
# job_name = re.findall(r' lowongan (.*) di', driver.title)
# location = re.findall(r' di (.*) \|', driver.title)

In [22]:
df.drop(columns=['Job Link'], inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       200 non-null    int64
 1   Job Title        200 non-null    object
 2   Company Name     200 non-null    object
 3   Location         200 non-null    object
 4   Posted Date      200 non-null    object
 5   Job Level        143 non-null    object
 6   Job Type         144 non-null    object
 7   Job Function     144 non-null    object
 8   Industry         144 non-null    object
 9   Job Description  144 non-null    object
dtypes: int64(1), object(9)
memory usage: 15.8+ KB

# Write output to CSV

In [24]:
#Write output to csv file

df.to_csv('linkedin_jobdetails.csv', index=False)